* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd';
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

#workspaces {
  margin: 0 6px;
}

#workspaces button {
  padding: 0 8px;
  background: none;
}

#workspaces button.active {
  border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
  border-bottom: 2px solid #ff4444;
}

#workspaces button:hover {
  color: #ffffff;
}

/* Window title (optional styling) */
#window {
  padding: 0 10px;
}

/* Modules (Right side) */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}


#battery.charging,
#battery.plugged {
  background-color: #98971a;
  color: #ebdbb2;
}

#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ffffff;
}

#battery.warning:not(.charging) {
  background-color: #d79921;
  color: #32302f;
}

#temperature.critical {
  background-color: #cc241d;
  color: #ffffff;
}

#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 0 2px;
}
#tray>.needs-attention {
  color: #cc241d;
  border-bottom-color: #cc241d;
}
